.header {
    display: flex;
    padding: 16px;
    z-index: 1;
    background-color: #fff;
    max-height: 64px;
    align-items: center;
}

.header > .logo {
    max-height: 64px;
}
.header > .title {
    margin-left: 16px;
}

.header > ul {
    flex: 1;
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: end;
    margin: 0;
    gap: 16px;
    padding: 16px;
}

.header > ul > li {
    list-style: none;
}

.header > ul > li > a {
    text-decoration: none;
    color: #212121;
}
.header > ul > li > a:hover {
    color: red;
}