.hours {
    text-align: center;
}

.img-container {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
}

.img-container > img {
    height: 300px;
    width: 300px;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
}

.img-container > img:hover {
    scale: 1.1;
}

.title {
    text-align: center;
}

.phrase {
    text-align: center;
}

hr {
    margin: 32px auto;
}