.hours {
    text-align: center;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.img-container > img {
    max-height: 300px;
    max-width: 300px;
    margin: auto;
    border-radius: 8px;
}

.title {
    text-align: center;
}

.phrase {
    text-align: center;
}

hr {
    margin: 32px auto;
}