@font-face {
    font-family: Dancing;
    src: url('../fonts/DancingScript-Regular.ttf');
    font-style: normal;
}
html {
    height: 100%;
}
body {
    background-image: url('../img/background.jpg');
    font-family: Dancing, 'Courier New', monospace;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    align-self: stretch;
    max-width: 940px;
    background-color: #fdfdfd;
    flex: 1;
    margin: auto;
    padding: 32px;
}

